@import "_normalize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

// === Vars ===

$Primary: #326CF9;
$Gray: #707070;
$Lightgreen: #0FC65C;
$White: #fff;
$Black: #000;

$Gradient: linear-gradient(90deg, #FE6783 0%, #FFBF84 100%);;

$TransPrimary: all 0.15s ease;


// === Common ===

body {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $White;

	background-color: $Black;
}

.container {
	max-width: 1670px;
	margin: 0 auto;
	padding: 0 15px;
}

h1 {
	font-size: 112px;
	font-weight: 700;
	line-height: 1.14;
	color: $White;
}

h3 {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.5;
	color: $White;
}

.primary-btn {
	font-size: 20px;
	font-weight: 500;
	color: $White;

	display: inline-block;

	padding: 18px 22px;
	border-radius: 8px;

	background-color: $Primary;
}

.primary-btn-2 {
	font-size: 20px;
	font-weight: 500;
	color: $White;

	display: inline-block;

	padding: 18px 22px;

	border: 1px solid $Gray;
	border-radius: 8px;

	background-color: transparent;
}

.secondary-btn {
	font-size: 20px;
	font-weight: 500;
	color: $Gray;
}

// === Logo ===

.logo {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-end;

	height: 42px;

	&__img {
		height: 100%;

		margin-right: 17px;
	}

	&__text {
		font-size: 37px;
		font-weight: 800;
		line-height: 0.9;
		color: $White;
	}
}

// === Nav ===

.nav {
	display: flex;
	justify-content: center;

	font-size: 20px;
	font-weight: 500;
	color: $Gray;

	&__item {
		margin-right: 38px;

		position: relative;

		transition: $TransPrimary;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $Primary;
		}

		&.active {
			color: $Primary;
		}
	}

	&__link {
		display: block;

		position: relative;

		&::after {
			content: "";
			display: none;
			width: 12px;
			height: 12px;

			position: absolute;
			right: -19px;
			top: 50%;
			transform: translateY(-50%);

			background-image: url('../img/icons/nav-arrow.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--has-sublist {

			&::after {
				display: block;
			}
		}
	}
}

// === Header ===

.header {
	margin-top: 46px;
	margin-bottom: 148px;

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__authorize {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__login {
		margin-right: 24px;
	}

	&__signup {}
}

// === Get start ===

.get-start {
	text-align: center;

	&__title {
		margin-bottom: 140px;
	}

	&__title--gradient {
		background: $Gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__sub-title {
		max-width: 700px;
		margin: 0 auto 50px;
	}

	&__buttons {
		font-size: 0;


	}

	&__button-1 {
		margin-right: 26px;
	}

	&__button-1,
	&__button-2 {
		width: 312px;

		padding: 30px 0;

		border-radius: 14px;
	}
}
