@import "_normalize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

// === Vars ===

$Primary: #326CF9;
$Gray: #707070;
$Lightgreen: #0FC65C;
$White: #fff;
$Black: #000;

$Gradient: linear-gradient(90deg, #FE6783 0%, #FFBF84 100%);;

$TransPrimary: all 0.15s ease;


// === Common ===

body {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $White;

	background-color: $Black;
}

.container {
	max-width: 1670px;
	margin: 0 auto;
	padding: 0 15px;
}

h1 {
	font-size: 112px;
	font-weight: 700;
	line-height: 1.14;
	color: $White;
}

h2 {
	font-size: 75px;
	font-weight: 600;
	line-height: 1.3;
	color: $White;
}

h2.suptitle {
	font-size: 25px;
	font-weight: 600;
	line-height: 1.3;
	color: $Primary;
	text-transform: uppercase;
}

h3 {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.5;
	color: $White;
}

h4 {
	font-size: 35px;
	font-weight: 600;
	line-height: 1.49;
	color: $White;
}

h5 {
	font-size: 30px;
	font-weight: 500;
	line-height: 1.5;
	color: $White;
}

.primary-btn {
	font-size: 20px;
	font-weight: 500;
	color: $White;

	display: inline-block;

	padding: 18px 22px;
	border-radius: 8px;

	background-color: $Primary;
}

.primary-btn-2 {
	font-size: 20px;
	font-weight: 500;
	color: $White;

	display: inline-block;

	padding: 18px 22px;

	border: 1px solid $Gray;
	border-radius: 8px;

	background-color: transparent;
}

.secondary-btn {
	font-size: 20px;
	font-weight: 500;
	color: $Gray;
}

// === Logo ===

.logo {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-end;

	height: 42px;

	&__img {
		height: 100%;

		margin-right: 17px;
	}

	&__text {
		font-size: 37px;
		font-weight: 800;
		line-height: 0.9;
		color: $White;
	}
}

// === Nav ===

.nav {
	display: flex;
	justify-content: center;

	font-size: 20px;
	font-weight: 500;
	color: $Gray;

	&__item {
		margin-right: 38px;

		position: relative;

		transition: $TransPrimary;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $Primary;
		}

		&.active {
			color: $Primary;
		}
	}

	&__link {
		display: block;

		position: relative;

		&::after {
			content: "";
			display: none;
			width: 12px;
			height: 12px;

			position: absolute;
			right: -19px;
			top: 50%;
			transform: translateY(-50%);

			background-image: url('../img/icons/nav-arrow.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--has-sublist {

			&::after {
				display: block;
			}
		}
	}
}

// === Header ===

.header {
	margin-top: 46px;
	margin-bottom: 148px;

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__authorize {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__login {
		margin-right: 24px;
	}

	&__signup {}
}

// === Get start ===

.get-start {
	text-align: center;

	margin: 134px 0;

	&__title {
		margin-bottom: 140px;
	}

	&__title--gradient {
		background: $Gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__sub-title {
		max-width: 700px;
		margin: 0 auto 50px;
	}

	&__buttons {
		font-size: 0;

		margin-bottom: 22px;
	}

	&__button-1 {
		margin-right: 26px;
	}

	&__button-1,
	&__button-2 {
		width: 312px;

		padding: 30px 0;

		border-radius: 14px;
	}

	&__counter {
		font-size: 25px;
		color: $Gray;

		display: inline-block;

		padding-left: 38px;

		position: relative;

		span {
			font-weight: 700;
			color: $White;
		}
		
		&::before {
			content: '';
			display: block;
			width: 28px;
			height: 28px;
			background-color: $Lightgreen;

			position: absolute;
			left: 0;
			top: 50%;
			
			transform: translateY(-50%);

			background-clip: content-box;

			border: 6px solid rgba($Lightgreen, 0.5);
			border-radius: 50%;
		}
	}
}

// === Advantages ===

.advantages {
	text-align: center;

	padding-top: 68px;
	margin-bottom: 166px;

	&__container {
		max-width: 1510px;
	}

	&__title {
		margin-bottom: 72px;
	}

	&__box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}

	&__item {
		max-width: 450px;

		text-align: center;

		h4 {
			padding-left: 42px;
			margin-bottom: 10px;

			display: inline-block;

			position: relative;

			&::before {
				content: '';
				display: block;
				width: 32px;
				height: 32px;

				position: absolute;
				top: 50%;
				left: 0;

				transform: translateY(-50%);

				// background-image: url('../img/icons/emoji-1.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		p {
			font-size: 22px;
			font-weight: 400;
			line-height: 1.5;
			color: $Gray;
		}

		&:nth-child(1) {
			h4::before {
				width: 37px;
				height: 37px;

				background-image: url('../img/icons/emoji-1.svg');
			}
		}

		&:nth-child(2) {
			h4::before {
				background-image: url('../img/icons/emoji-2.svg');
			}
		}

		&:nth-child(3) {
			h4::before {
				width: 43px;
				height: 43px;

				background-image: url('../img/icons/emoji-3.svg');
			}
		}
	}
}

// === Step 1 ===

.step-1 {
	text-align: center;

	margin-bottom: 190px;

	&__container {
		max-width: 960px;
	}

	&__suptitle {
		margin-bottom: 8px;
	}

	&__title {
		line-height: 1.3;

	}

	&__desc {
		font-size: 30px;
		line-height: 1.5;
		color: $Gray;

		margin-bottom: 34px;
	}

	&__btn {
		padding: 22px 38px;
	}
}

// === Your Homepage ===

.your-homepage {

	&__container {
		max-width: 1584px;
	}

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-basis: 0;
	}

	&__info-box {
		flex-grow: 2;
		flex-shrink: 0;
		}
	
	&__img {
		flex-grow: 1;
		flex-shrink: 0;

		img {
			height: 100%;
		}
	}

	&__suptitle {
		margin-bottom: 80px;
	}

	&__title {
		line-height: 1.5;

		margin-bottom: 30px;

		span {
			color: $Primary;
		}
	}

	&__list {
		list-style-type: none;
		counter-reset: num;

		margin-bottom: 66px;
	}

	&__item {
		display: block;
		margin-bottom: 12px;

		font-size: 23px;

		&::before {
			content: counter(num) '';
			counter-increment: num;

			display: inline-block;
			width: 33px;
			height: 33px;

			line-height: 33px;
			text-align: center;

			margin-right: 12px;

			border-radius: 50%;

			background-color: #2D2D2D;
		}
	}

	&__buttons {
	}

	&__button-1 {
		padding: 22px 22px;
		margin-right: 18px;
	}

	&__button-2 {
		padding: 22px 36px;
	}

}